#content{
    position: relative;
    width: 100%;
}

#footer{
    position: relative;
    width: 100%;
    height: 74px;
    background-color: #18191b;
    bottom: 0%;
    left: 0%;
    z-index: 2; 
    margin-top: 45px;
}

#zone_content{
    position: relative;
    width: 1000px;
    margin: auto;
}

.zone_pres_projet{
    position: relative;
    width: 100%;
    height: 625px;
}

.title_projet{
    position: absolute;
    width: 100%;
    top: 40px;
    text-align: center;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

.subtitle_projet{
    color: #569ea3;
    font-size: 36px;
}

.bandeau_sol{
    position: absolute;
    height: 172px;
    width: 100%;
    left: 0px;
    top: 453px;
    background-color: #3e4041;
}

.zone_descr_projet{
    position: relative;
    width: 100%;
}

.zone_logos{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.picto{
    position: relative;
    width: 51px;
    height: 61px;
    display: inline-block;
}

.html5{
    background-image: url(../img/picto_html5.png);
}

.css3{
    background-image: url(../img/picto_css3.png);
}

.jquery{
    background-image: url(../img/picto_jquery.png);
}

.sb{
    font-weight: 600;
}

.zone_texte_projet{
    position: relative;
    width: 640px;
    margin-left: 180px;
    font-size: 16px;
    color: #fff;
    margin-top: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
}

#mockup_asus{
    position: absolute;
    width: 665px;
    height: 466px;
    background-image: url(../img/detail_projet/asus/mockup_asus.png);
    bottom: 10px;
    left: 168px;
}