#content{
    position: relative;
    width: 100%;
}

#menu2{
    background-color: #569ea3;
    opacity: 1;
}

#footer{
    position: relative;
    width: 100%;
    height: 74px;
    background-color: #18191b;
    bottom: 0%;
    left: 0%;
    z-index: 2; 
    margin-top: 45px;
}

#zone_content{
    position: relative;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

.projet{
    position: relative;
    width: 295px;
    height: 206px;
    display: inline-block;
    margin-top: 1px;
}

.projet_left{
    margin-left: 55px;
}

.projet_right{
    margin-right: 55px;
}

.hover_projet{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
}

.bghover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #000;
    opacity: 0.8;
}

.hover_title{
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    width: 100%;
    text-align: center;
    top: 53px;
}

.hover_subtitle{
    position: absolute;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    width: 100%;
    text-align: center;
    top: 86px;
    opacity: 0.7;
}

.hover_cta{
    position: absolute;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    width: 130px;
    height: 30px;
    text-align: center;
    top: 125px;
    left: 82px;
    box-sizing : border-box;
    padding-top: 6px;
    border-radius: 8px;
    cursor: pointer;
}

#projet_asus{
    background-image: url(../img/projets/asus.jpg);
}

#projet_asus .hover_projet .hover_cta{
    background-color: #345aa5;
}

#projet_asus .hover_projet .hover_cta:hover{
    background-color: #274277;
}

#projet_deezer{
    background-image: url(../img/projets/deezer.jpg);
}

#projet_deezer .hover_projet .hover_cta{
    background-color: #de2428;
}

#projet_deezer .hover_projet .hover_cta:hover{
    background-color: #a42528;
}

#projet_cornaline{
    background-image: url(../img/projets/cornaline.jpg);
}

#projet_cornaline .hover_projet .hover_cta{
    background-color: #898f8d;
}

#projet_cornaline .hover_projet .hover_cta:hover{
    background-color: #686a69;
}

#projet_axe{
    background-image: url(../img/projets/axe.jpg);
}

#projet_axe .hover_projet .hover_cta{
    background-color: #52aab5;
}

#projet_axe .hover_projet .hover_cta:hover{
    background-color: #3b737a;
}

#projet_showroom{
    background-image: url(../img/projets/showroom.jpg);
}

#projet_showroom .hover_projet .hover_cta{
    background-color: #c4bf54;
}

#projet_showroom .hover_projet .hover_cta:hover{
    background-color: #938f41;
}

#projet_label5{
    background-image: url(../img/projets/label5.jpg);
}

#projet_label5 .hover_projet .hover_cta{
    background-color: #e96612;
}

#projet_label5 .hover_projet .hover_cta:hover{
    background-color: #b25113;
}

#projet_milka{
    background-image: url(../img/projets/milka.jpg);
}

#projet_milka .hover_projet .hover_cta{
    background-color: #593d88;
}

#projet_milka .hover_projet .hover_cta:hover{
    background-color: #392756;
}

#projet_samsung{
    background-image: url(../img/projets/samsung.jpg);
}

#projet_samsung .hover_projet .hover_cta{
    background-color: #b297c0;
}

#projet_samsung .hover_projet .hover_cta:hover{
    background-color: #8f7c98;
}

#projet_lacoste{
    background-image: url(../img/projets/lacoste.jpg);
}

#projet_lacoste .hover_projet .hover_cta{
    background-color: #54b57f;
}

#projet_lacoste .hover_projet .hover_cta:hover{
    background-color: #3e835c;
}

#projet_redbull{
    background-image: url(../img/projets/redbull.jpg);
}

#projet_redbull .hover_projet .hover_cta{
    background-color: #dc2939;
}

#projet_redbull .hover_projet .hover_cta:hover{
    background-color: #a5202c;
}

#projet_ikea{
    background-image: url(../img/projets/ikea.jpg);
}

#projet_ikea .hover_projet .hover_cta{
    background-color: #6a7682;
}

#projet_ikea .hover_projet .hover_cta:hover{
    background-color: #485057;
}

#projet_haier{
    background-image: url(../img/projets/haier.jpg);
}

#projet_haier .hover_projet .hover_cta{
    background-color: #f7b62e;
}

#projet_haier .hover_projet .hover_cta:hover{
    background-color: #b08223;
}

#projet_pages_jaunes{
    background-image: url(../img/projets/pages_jaunes.jpg);
}

#projet_pages_jaunes .hover_projet .hover_cta{
    background-color: #bca985;
}

#projet_pages_jaunes .hover_projet .hover_cta:hover{
    background-color: #857962;
}

#projet_claussmann{
    background-image: url(../img/projets/claussmann.jpg);
}

#projet_claussmann .hover_projet .hover_cta{
    background-color: #828282;
}

#projet_claussmann .hover_projet .hover_cta:hover{
    background-color: #4e4e4e;
}

#projet_mariage{
    background-image: url(../img/projets/mariage.jpg);
}

#projet_mariage .hover_projet .hover_cta{
    background-color: #c09a6d;
}

#projet_mariage .hover_projet .hover_cta:hover{
    background-color: #81684b;
}